<h3>Treatments</h3>
<table id="treatment_index" class="center table table-striped table-hover responsive">
  <thead>
    <tr>
      <th data-hide="phone,tablet"><i class="icon-tags"></i>Date</th>
      <th></th>
      <th data-hide="phone,tablet"><i class="icon-tag"></i>Full Treatment</th>
      <th></th>
      <th>Bath</th>
      <th></th>
      <th>Hair Dry</th>
      <th></th>
      <th>Ears</th>
      <th></th>
      <th>Teeth</th>
      <th></th>
      <th>Claws</th>
      <th></th>
      <th>Shaving</th>
      <th></th>
      <th>Napping</th>
      <th></th>
      <th>Brush</th>
      <th></th>
      <th>Form Cut</th>
      <th></th>
      <th>Walk</th>
      <th></th>
      <th><i class="icon-calendar"></i>Minutes</th>
      <th></th>
      <th><i class="icon-dollar"></i>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @dogs.treatments.each do |treatment| %>
    <tr>
      <td><%= link_to treatment.date.to_date, treatment %></td>
      <td></td>
      <td><%= is_true_or_false(treatment.full_treatment) %></td>
      <td></td>
      <td><%= is_true_or_false(treatment.bath) %></td>
      <td></td>
      <td><%= is_true_or_false(treatment.hair_dry) %>
      <td></td>
      <td></i><%= is_true_or_false(treatment.ears) %></td>
      <td></td>
      <td></i><%= is_true_or_false(treatment.teeth) %></td>
      <td></td>
      <td></i><%= is_true_or_false(treatment.claws) %></td>
      <td></td>
      <td></i><%= is_true_or_false(treatment.shaving) %></td>
      <td></td>
      <td></i><%= is_true_or_false(treatment.napping) %></td>
      <td></td>
      <td></i><%= is_true_or_false(treatment.brush) %></td>
      <td></td>
      <td></i><%= is_true_or_false(treatment.form_cut) %></td>
      <td></td>
      <td></i><%= is_true_or_false(treatment.walk) %></td>
      <td></td>
      <td></i><%= distance_of_time_in_words(treatment.minutes) %></td>
      <td></td>
      <td><i class="icon-dollar"></i><%= number_to_currency(treatment.price, unit: "kr. ") %></td>
      <td></td>
    </tr>
    <% end %>
    <%= will_paginate @treatment, renderer: BootstrapPagination::Rails %>
</div>

