<div class="adminheader"><%= @treatment.date %></div>
<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
<% end %>
<table class="table table-striped">
  <tbody>
    <tr><th><i class="icon-th-list"></i>Date</th><td><%= @treatment.date %></td>
      <th><i class="icon-th-list"></i>Full Treatment</th><td><%= @treatment.full_treatment %></td></tr>
    <tr><th><i></i>Bath</th><td><%= @treatment.bath %></td>
      <th><i class="icon-heart"></i>Hair Dry</th><td><%= @treatment.hair_dry %></td></tr>
    <tr><th><i class="icon-user"></i>Ears</th><td><%= @treatment.ears %></td>
    <tr><th><i class="icon-user"></i>Teeth</th><td><%= @treatment.teeth %></td>
    <tr><th><i class="icon-user"></i>Claws</th><td><%= @treatment.claws %></td>
    <tr><th><i class="icon-user"></i>Shaving</th><td><%= @treatment.shaving %></td>
    <tr><th><i class="icon-user"></i>Napping</th><td><%= @treatment.napping %></td>
    <tr><th><i class="icon-user"></i>Brush</th><td><%= @treatment.brush %></td>
    <tr><th><i class="icon-user"></i>Form Cut</th><td><%= @treatment.form_cut %></td>
    <tr><th><i class="icon-user"></i>Walk</th><td><%= @treatment.walk %></td>
    <tr><th><i class="icon-user"></i>Minutes</th><td><%= @treatment.minutes %></td>
    <tr><th><i class="icon-user"></i>Price</th><td><%= @treatment.price %></td>
  </tbody>
</table>
<div class="btn-group">
  <%= link_to "Delete", @treatment, method: :delete, data: { confirm: "You sure?" }, class: "btn" %>
  <%= link_to "Edit", edit_treatment_path(@treatment), class: "btn" %>
</div>

