<div class="adminheader">Owners</div>
<%= link_to "New Owner", new_owner_path, :class => "btn btn-medium btn-primary" %>
<table id="iseqchart" class="center table table-striped table-hover responsive">
  <thead>
    <tr>
      <th data-hide="phone,tablet"><i class="icon-tags"></i>Name</th>
      <th></th>
      <th data-hide="phone,tablet"><i class="icon-tag"></i>Address</th>
      <th></th>
      <th><i class="icon-barcode"></i>Tlf</th>
      <th></th>
      <th><i class="icon-heart"></i>Mobile</th>
      <th></th>
      <th><i class="icon-calendar"></i>Zip-Code</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @owners.each do |owner| %>
    <tr>
      <td><%= link_to owner.name, owner %></td>
      <td></td>
      <td><%= owner.address %></td>
      <td></td>
      <td><%= owner.tlf %></td>
      <td></td>
      <td><%= owner.mobile %></td>
      <td></td>
      <td></i><%= owner.zip_code %></td>
      <td></td>
    </tr>
    <% end %>
    <%= will_paginate @owners, renderer: BootstrapPagination::Rails %>
  </body>
</table>
