<div class="adminheader"><%= @owner.name %></div>
<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
<% end %>
<table class="table table-striped">
  <tbody>
    <tr><th><i class="icon-th-list"></i>Name</th><td><%= @owner.name %></td>
      <th><i class="icon-th-list"></i>Address</th><td><%= @owner.address %></td></tr>
    <tr><th><i></i>Zip-Code</th><td><%= @owner.zip_code %></td>
      <th><i class="icon-heart"></i>Tlf</th><td><%= @owner.tlf %></td></tr>
    <tr><th><i class="icon-user"></i>Mobile</th><td><%= @owner.mobile %></td>
  </tbody>
</table>
<div class="btn-group">
  <%= link_to "Delete", @owner, method: :delete, data: { confirm: "You sure?" }, class: "btn" %>
  <%= link_to "Edit", edit_owner_path(@owner), class: "btn" %>
</div>
