<h3>Dogs</h3>
<%= link_to "New Dog", new_dog_path, :class => "new_dog btn btn-medium btn-primary" %>
    <% @dogs.each do |dog| %>
<div id="screen" class="well">
  <div class="row">
    <div class="group">
        <div class="group-title"><b>Nickname</b></div>
        <%= link_to dog.nickname, dog %>
    </div>
    <div class="group">
      <div class="group-title"><b>Name</b></div>
        <%= dog.name %>
    </div>
    <div class="group">
      <div class="group-title"><b>Reg nr.</b></div>
        <%= dog.regnr %>
    </div>
    <div class="group">
      <div class="group-title"><b>Allergies</b></div>
        <%= dog.allergies %>
    </div>
    <div class="group">
      <div class="group-title"><b>Born</b></div>
        <%= dog.born.to_date %>
    </div>
    <div class="group">
      <div class="group-title"><b>ID tagged</b></div>
        <%= dog.IDtagged %>
    </div>
    <div class="group">
      <div class="group-title"><b>Race</b></div>
        <%= dog.race %>
    </div>
  </div>
</div>
<% end %>
<%= will_paginate @dogs, renderer: BootstrapPagination::Rails %>
