<div class="adminheader">Dogs</div>
<%= link_to "New Dog", new_dog_path, :class => "btn btn-medium btn-primary" %>
<table id="iseqchart" class="center table table-striped table-hover responsive">
  <thead>
    <tr>
      <th><i class="icon-tags"></i>Nickname</th>
      <th><i class="icon-tag"></i>Dogs Name</th>
      <th><i class="icon-barcode"></i>Regnr</th>
      <th><i class="icon-heart"></i>Allergies</th>
      <th><i class="icon-calendar"></i>Born</th>
      <th><i class="icon-barcode"></i>IDtagged</th>
      <th><i class="icon-dog"></i>Race</th>
    </tr>
  </thead>
  <tbody>
    <% @dogs.each do |dog| %>
    <tr>
      <td><%= link_to dog.nickname, dog %></td>
      <td><%= dog.name %></td>
      <td><%= dog.regnr %></td>
      <td><%= dog.allergies %></td>
      <td></i><%= dog.born %></td>
      <td><%= dog.IDtagged %></td>
      <td><%= dog.race %></td>
    </tr>
    <% end %>
    <%= will_paginate @dogs, renderer: BootstrapPagination::Rails %>
  </body>
</table>

