<div class="adminheader"><%= @dog.name %></div>
<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
<% end %>
<table class="table table-striped">
  <tbody>
    <tr><th><i class="icon-th-list"></i>Nickname</th><td><%= @dog.nickname %></td>
      <th><i class="icon-th-list"></i>Dogs Name</th><td><%= @dog.name %></td></tr>
    <tr><th><i></i>Race:</th><td><%= @dog.race %></td>
      <th><i class="icon-heart"></i>Allergies:</th><td><%= @dog.allergies %></td></tr>
    <tr><th><i class="icon-user"></i>Regnr:</th><td><%= @dog.regnr %></td>
      <th><i class="icon-calendar"></i>Born:</th><td><%= @dog.born %></td></tr>
    <tr><th><i class="icon-tag"></i>ID Tagged:</th><td><%=  @dog.IDtagged %></td>
      <th><i class="icon-picture"></i>Photo:</td><td><%= image_tag @dog.photo %></td></tr>

  </tbody>
</table>
<div class="btn-group">
  <%= link_to "Delete", @dog, method: :delete, data: { confirm: "You sure?" }, class: "btn" %>
  <%= link_to "Edit", edit_dog_path(@dog), class: "btn" %>
  <%= link_to "New Treatment", new_dog_treatment_path(@dog), class: "btn" %>
</div>
